vendor
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
!.env.example
storage/*.key
storage/debugbar
storage/*.log
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
storage/logs
.DS_Store
.git
.gitignore
/tests
/tests/*
/phpunit.xml
.vscode
.idea
